<header>
    <nav class="header-nav">
        <a class="header-title" href="/">movieCruizer </a>
        <ul>
            <!-- <li>
                <a href="/directors">All Directors</a>
            </li> -->
            
            <li>
                <a href="/movies">All Posts</a>
            </li>
            
            <li>
                <a href="/movies/new">Add Post</a>
            </li>
        
            <li>
                <a href="/myPosts" >My Posts</a>
            </li>
        </ul>
        <ul>
            <li>
                <form action="/logout?_method=DELETE" method="POST">
                    <button class="logout-btn" type="submit">Logout</button>
                </form>
            </li>
        </ul>

    </nav>
</header>