<%- include('partials/header.ejs') %>
<h2 class="error-message">Heyy <%= users %> ! </h2>
<h2 class="page-header">Recently Added Posts</h2>
   <%- include('partials/movieGrid', { movies: movies ,large : true}) %>  
