@import 'shared/fonts.css';
@import 'shared/variables.css';
@import 'shared/header.css';
@import 'shared/buttons.css';
@import 'shared/forms.css';
@import 'shared/director.css';
@import 'shared/movies.css';

:root{
    font-family: 'Gotham Rounded';
    font-size: 20px;
    color: var(--color-text-light);
}

*,*::before,*::after {
    box-sizing: border-box;
}

body{
    background:linear-gradient(to right ,
    var(--color-background-dark),var(--color-background-light));
}
.header-caption{
    display: flex;
    flex-direction: column;
}

.caption{
    text-align: center;
    align-items: center;
    
}

.caption-end{
    margin-left: 2.2rem;
}

.container{
    max-width: 1200px;
    margin: auto;
    margin-bottom: 3rem;
}

.inner-container{
  margin: 0 2rem;
}

.page-header{
    font-size: 2rem;
    font-weight: 500;
}

.error-message{
    color: hsl(var(--color-danger-hue),100%, 50%);
}